@font-face {
  font-family: ManegeDemo;
  src: url(/fonts/ManegeDemo-Light.woff2) format('woff2'),
    url(/fonts/ManegeDemo-Light.ttf) format('truetype');
}

@keyframes zoom {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: ManegeDemo;
  font-size: 16px;
  scroll-behavior: smooth;
}


body {
  font-family: ManegeDemo;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #555555;
}

.top-part {
  width: 100%;
  border: 2vh solid #fff;
  border-radius: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.burger-menu {
  display: none;
}

.header {
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: auto;
  max-height: 75px;
  max-width: 1920px;
  position: fixed;
  background: transparent;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  color: antiquewhite;
  box-sizing: border-box;
  border-radius: 25px;
  opacity: 80%;
  z-index: 2;
}

.header.transparent {
  background-color: transparent !important;
  box-shadow: none !important;
}

.header.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navigation {
  display: flex;
  list-style: none;
  gap: 50px;
  margin: 100px;
}

.left-head {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-item a,
.logo-link {
  position: relative;
  color: antiquewhite;
  ;
  transition: all 0.3s ease-in;
  padding-bottom: 5px;
}

.nav-item a:hover,
.logo-link:hover {
  color: rgb(133, 157, 91);
}

.nav-item a::after,
.logo-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(133, 157, 91);
  transition: width 0.3s ease-in;
}

.nav-item a:hover::after,
.logo-link:hover::after {
  width: 100%;
}

.logo {
  width: 50px;
  transition: transform 0.3s ease-in;
}

.logo:hover {
  color: rgb(133, 157, 91);
}

.logo-link:hover .logo {
  transform: scale(1.1);
}

.main-content {
  width: 100%;
  max-width: 1920px;
  padding: 0 20px;
  box-shadow: border-box;
}

.first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
  color: antiquewhite;
  max-width: 1920px;
  min-height: calc(100vh - 95px);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  gap: 30px;
  border-radius: 25px;
}

.portrait {
  width: min(100%, 450px);
  max-width: 100%;
  border-radius: 50px;
  padding: 20px;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.portrait:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: match-parent;
  max-width: 1920px;

}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.images img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.images img:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


/* Модальное окно */
.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  text-align: center;
}

.modal-image {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  object-fit: contain;
}

.close-modal {
  position: fixed;
  top: 10px;
  right: 30px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2001;
}

.text-info {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.text-info ul {
  list-style-type: none;
  /* Отключаем стандартные маркеры */
  padding-left: 0;
  /* Убираем стандартный отступ */
}

.text-info li {
  position: relative;
  padding-left: 25px;
  /* Отступ для кастомного маркера */
  margin-bottom: 8px;
  line-height: 1.5;
}

.text-info li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url('src/marker.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

h3,
li {
  margin-bottom: 10px;
  color: antiquewhite;
}


.text-group {
  background: rgb(70, 70, 75);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.end {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.address {
  padding: 20px 0;
  font-size: 22px;
  color: antiquewhite;
  display: flex;
  align-self: center;
  justify-items: center;
  flex-direction: row;
  gap: 30px;
  box-sizing: border-box;
}

.contact a {
  display: flex;
  align-items: center;
  gap: 30px;
}

.address p a img {
  align-items: center;
  width: 50px;
}